<h1>Create Recipe</h1>
<form action="/recipes" method="POST">
   <input type="text" name="name" placeholder="Recipe Name"><br>
   <input type="text" name="cook_time" placeholder="Recipe Cook Time"><br>
   <input type="text" name="ingredients" placeholder="Recipe Ingredients"><br>
   <input type="submit" value="Submit">
</form>