<h1> Recipe</h1>
<ul> 
  <li><%=@recipe.name%></li>
  <li><%=@recipe.ingredients%></li>
  <li><%=@recipe.cook_time%></li>
</ul>

<form method="POST" action="/recipes/<%=@recipe.id%>">
  <input type="hidden" id="hidden" name="_method" value="DELETE">
  <input type="submit" name="delete">
</form>